.player-container {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 10%;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 5px
}



.controls > button, button > svg {
  max-width: 60px;
  max-height: 30px;
}

.controls > button {
    border: none;
    background: none;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.volume {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}