* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Height and width fallback for older browsers. */
  height: 100%;
  width: 100%;

  /* Set the height to match that of the viewport. */
  height: 100vh;

  /* Set the width to match that of the viewport. */
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.app {
  background-color: blue;
}

