@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter/web/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard */
}

body {
  font-family: 'Inter', sans-serif;
}

